[submodule "compiler/tiger-compiler"]
	path = compiler/tiger-compiler
	url = https://github.com/lkwq007/tiger-compiler
[submodule "graphics/Image-Registration"]
	path = graphics/Image-Registration
	url = https://github.com/lkwq007/Image-Registration
[submodule "graphics/Minecraft-OpenGL"]
	path = graphics/Minecraft-OpenGL
	url = https://github.com/lkwq007/Minecraft-OpenGL
[submodule "network/SocketClient"]
	path = network/SocketClient
	url = https://github.com/lkwq007/SocketClient
[submodule "network/SocketServer"]
	path = network/SocketServer
	url = https://github.com/lkwq007/SocketServer
[submodule "online-judge/PAT-Advanced-Level"]
	path = online-judge/PAT-Advanced-Level
	url = https://github.com/lkwq007/PAT-Advanced-Level
[submodule "online-judge/PAT-Basic-Level"]
	path = online-judge/PAT-Basic-Level
	url = https://github.com/lkwq007/PAT-Basic-Level
[submodule "online-judge/LeetCode-Go"]
	path = online-judge/LeetCode-Go
	url = https://github.com/lkwq007/LeetCode-Go
[submodule "fpga/Sokoban-FPGA"]
	path = fpga/Sokoban-FPGA
	url = https://github.com/lkwq007/Sokoban-FPGA
[submodule "system/how-does-debugger-work"]
	path = system/how-does-debugger-work
	url = https://github.com/lkwq007/how-does-debugger-work
[submodule "compiler/rockstar-ml"]
	path = compiler/rockstar-ml
	url = https://github.com/lkwq007/rockstar-ml
